debug
debug.test
main
mockgen_tmp.go
*.qtr

fuzzing/*/*.zip
fuzzing/*/coverprofile
fuzzing/*/crashers
fuzzing/*/sonarprofile
fuzzing/*/suppressions
fuzzing/*/corpus/
!fuzzing/frames/single-frame*
!fuzzing/frames/multiple-frame*
!fuzzing/header/header*
