version: 2.1
executors:
  test-go118:
    docker:
      - image: "cimg/go:1.18"
    environment:
      runrace: true
      TIMESCALE_FACTOR: 3
  test-go117:
    docker:
      - image: "cimg/go:1.17"
    environment:
      runrace: true
      TIMESCALE_FACTOR: 3
  test-go116:
    docker:
      - image: "cimg/go:1.16"
    environment:
      runrace: true
      TIMESCALE_FACTOR: 3
 
jobs:
  "test": &test
    executor: test-go118
    steps:
      - checkout
      - run:
          name: "Setup build environment"
          command: go install github.com/onsi/ginkgo/ginkgo
      - run:
          name: "Build infos"
          command: go version
      - run:
          name: "Run benchmark tests"
          command: ginkgo -randomizeAllSpecs -trace benchmark -- -size=10
      - run:
          name: "Run benchmark tests with race detector"
          command: ginkgo -race -randomizeAllSpecs -trace benchmark -- -size=5
      - run:
          name: "Run tools tests"
          command: ginkgo -race -r -v -randomizeAllSpecs -trace integrationtests/tools
      - run:
          name: "Run self integration tests"
          command: ginkgo -v -randomizeAllSpecs -trace integrationtests/self
      - run:
          name: "Run self integration tests with race detector"
          command: ginkgo -race -v -randomizeAllSpecs -trace integrationtests/self
      - run:
          name: "Run self integration tests with qlog"
          command: ginkgo -v -randomizeAllSpecs -trace integrationtests/self -- -qlog
  go118:
    <<: *test
  go117:
    <<: *test
    executor: test-go117
  go116:
    <<: *test
    executor: test-go116

workflows:
  workflow:
    jobs:
      - go118
      - go117
      - go116
