on: [push, pull_request]

jobs:
  integration:
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu" ]
        go: [ "1.20.x", "1.21.x" ]
        include:
          - os: "windows"
            go: "1.21.x"
          - os: "macos"
            go: "1.21.x"
    runs-on: ${{ fromJSON(vars[format('INTEGRATION_RUNNER_{0}', matrix.os)] || format('"{0}-latest"', matrix.os)) }}
    defaults:
      run:
        shell: bash # by default Windows uses PowerShell, which uses a different syntax for setting environment variables
    env:
      DEBUG: false # set this to true to export qlogs and save them as artifacts
      TIMESCALE_FACTOR: 3
    name: Integration Tests (${{ matrix.os }}, Go ${{ matrix.go }})
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
      - run: go version
      - name: set qlogger
        if: env.DEBUG == 'true'
        run: echo "QLOGFLAG= -qlog" >> $GITHUB_ENV
      - name: Run other tests
        run: |
          go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace -skip-package self,versionnegotiation integrationtests
          go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/versionnegotiation -- ${{ env.QLOGFLAG }}
      - name: Run self tests, using QUIC v1
        if: success() || failure() # run this step even if the previous one failed
        run: go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/self -- -version=1 ${{ env.QLOGFLAG }}
      - name: Run self tests, using QUIC v2
        if: success() || failure() # run this step even if the previous one failed
        run: go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/self -- -version=2 ${{ env.QLOGFLAG }}
      - name: Run self tests, with GSO disabled
        if: ${{ matrix.os == 'ubuntu' && (success() || failure()) }} # run this step even if the previous one failed
        env:
          QUIC_GO_DISABLE_GSO: true
        run: go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/self -- -version=1 ${{ env.QLOGFLAG }}
      - name: Run self tests, with ECN disabled
        if: ${{ matrix.os == 'ubuntu' && (success() || failure()) }} # run this step even if the previous one failed
        env:
          QUIC_GO_DISABLE_ECN: true
        run: go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/self -- -version=1 ${{ env.QLOGFLAG }}
      - name: Run tests (32 bit)
        if: ${{ matrix.os != 'macos' && (success() || failure()) }} # run this step even if the previous one failed
        env:
          GOARCH: 386
        run: |
          go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace -skip-package self,versionnegotiation integrationtests
          go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/versionnegotiation -- ${{ env.QLOGFLAG }}
          go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/self -- ${{ env.QLOGFLAG }}
      - name: save qlogs
        if: ${{ always() && env.DEBUG == 'true' }}
        uses: actions/upload-artifact@v3
        with:
          name: qlogs-${{ matrix.os }}-go${{ matrix.go }}
          path: integrationtests/self/*.qlog
          retention-days: 7
  freebsd:
    runs-on: macos-12
    name: Integration Tests (freebsd, Go ${{ matrix.go }})
    env:
      TIMESCALE_FACTOR: 3
      DEBUG: true
    strategy:
      fail-fast: false
      matrix:
        go: [ "1.21.x" ]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: set qlogger
        if: env.DEBUG == 'true'
        run: echo "QLOGFLAG= -qlog" >> $GITHUB_ENV
      - name: pick go version
        env:
          GO_VERSION: ${{ matrix.go }}
        run: |
          GO_VERSION="$(sed "s/x/*/g" <<< $GO_VERSION)"
          curl -s https://raw.githubusercontent.com/actions/go-versions/main/versions-manifest.json | jq -r 'map(.version) | map(select(test(env.GO_VERSION))) | .[0]' | xargs -I {} echo "GO_VERSION={}" | tee -a $GITHUB_ENV
      - uses: cross-platform-actions/action@6785ab118e0f221bdacd2e64a39253e7a1913103 # v0.19.1
        with:
          operating_system: 'freebsd'
          version: '13.2'
          environment_variables: TIMESCALE_FACTOR GO_VERSION
          shell: bash
          run: |
            echo "::group::Increase the Buffer Size to prevent 'setsockopt: no buffer space available'"
            sysctl kern.ipc.maxsockbuf
            sudo sysctl kern.ipc.maxsockbuf=16777216
            echo "::endgroup::"

            echo "::group::Install Go"
            curl -o go${GO_VERSION}.freebsd-amd64.tar.gz https://dl.google.com/go/go${GO_VERSION}.freebsd-amd64.tar.gz
            sudo tar -C /usr/local -xzf go${GO_VERSION}.freebsd-amd64.tar.gz
            export PATH="${PATH}:/usr/local/go/bin"
            go version
            echo "::endgroup::"

            failures=()

            echo "::group::Run other tests#1"
            go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace -skip-package self,versionnegotiation integrationtests || failures+=("Run other tests#1")
            echo "::endgroup::"

            echo "::group::Run other tests#2"
            go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/versionnegotiation -- ${{env.QLOGFLAG}} || failures+=("Run other tests#2")
            echo "::endgroup::"

            echo "::group::Run self tests, using QUIC v1"
            go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/self -- -version=1 ${{env.QLOGFLAG}} || failures+=("Run self tests, using QUIC v1")
            echo "::endgroup::"

            echo "::group::Run self tests, using QUIC v2"
            go run github.com/onsi/ginkgo/v2/ginkgo -r -v -randomize-all -randomize-suites -trace integrationtests/self -- -version=2 ${{env.QLOGFLAG}} || failures+=("Run self tests, using QUIC v2")
            echo "::endgroup::"

            if [ ${#failures[@]} -gt 0 ]; then
              echo "Failures:"
              for fail in "${failures[@]}"; do
                echo "âŒ $fail"
              done
              exit 1
            fi
      - name: save qlogs
        if: ${{ always() && env.DEBUG == 'true' }}
        uses: actions/upload-artifact@v2
        with:
          name: qlogs
          path: integrationtests/self/*.qlog
          retention-days: 7
